.container {
    display: flex;
    padding: 1.5rem;
}
.logo {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo img {
    width: 2.5rem;
    height: 2.5rem;
}
.logo span {
    font-weight: 700;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.menu {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    cursor: pointer;
}
.menu li:hover {
    color: #FE956F;
}
.search {
    width: 7rem;
    border-radius: .4rem;
    padding: .5rem;
    height: 30%;
}
.cart {
    cursor: pointer;
    width: 1.5rem;
}